:root {
  --kun-green-4: #2da44e;

  --kun-red-4: #fa4549;
  --kun-red-5: #cf222e;

  --kun-purple-4: #a475f9;

  --kun-pink-4: #e85aad;

  /* ------------ light ----------- */
  --kun-font-color-3: #242424;
  --kun-white: #ffffff;

  --kun-blue-0: #ddf4ff;
  --kun-blue-1: #b6e3ff;
  --kun-blue-4: #218bff;
  --kun-blue-5: #0969da;

  --kun-trans-white-2: #ffffffd9;
  --kun-trans-white-5: #ffffff8e;
  --kun-trans-white-9: #ffffff00;

  --kun-trans-blue-0: #ddf4ff77;
  --kun-trans-blue-1: #b6e3ff77;
  --kun-trans-blue-2: #80ccff77;

  /* ------------ dark ----------- */

  --kun-dark-font-color-3: #e0e0e0;
  --kun-dark-white: #182533;

  --kun-dark-blue-0: #00479e;
  --kun-dark-blue-1: #b6e3ff;
  --kun-dark-blue-4: #218bff;
  --kun-dark-blue-5: #b6e3ff;

  --kun-dark-trans-white-2: #0d2034d9;
  --kun-dark-trans-white-5: #0d20348e;
  --kun-dark-trans-white-9: #ffffff00;

  --kun-dark-trans-blue-0: #09132077;
  --kun-dark-trans-blue-1: #5288c177;
  --kun-dark-trans-blue-2: #0c4cac77;
}
