html[data-color-scheme='light'] {
  --kungalgame-font-color-0: #777777;
  --kungalgame-font-color-1: #666666;
  --kungalgame-font-color-2: #4d4d4d;
  --kungalgame-font-color-3: #242424;

  --kungalgame-white: #ffffff;

  --kungalgame-blue-0: #ddf4ff;
  --kungalgame-blue-1: #b6e3ff;
  --kungalgame-blue-4: #218bff;
  --kungalgame-blue-5: #0969da;

  --kungalgame-green-4: #2da44e;

  --kungalgame-red-4: #fa4549;
  --kungalgame-red-5: #cf222e;

  --kungalgame-purple-4: #a475f9;

  --kungalgame-pink-4: #e85aad;

  /* 
    transparent color
    */
  --kungalgame-trans-white-2: #ffffffd9;
  --kungalgame-trans-white-5: #ffffff8e;
  --kungalgame-trans-white-9: #ffffff00;

  --kungalgame-trans-blue-0: #ddf4ff77;
  --kungalgame-trans-blue-1: #b6e3ff77;
  --kungalgame-trans-blue-2: #80ccff77;
}
