@media (prefers-color-scheme: dark) {
  html[data-color-scheme='system'] {
    --kungalgame-font-color-3: var(--kun-dark-font-color-3);

    --kungalgame-white: var(--kun-dark-white);

    --kungalgame-blue-0: var(--kun-dark-blue-0);
    --kungalgame-blue-1: var(--kun-dark-blue-1);
    --kungalgame-blue-4: var(--kun-dark-blue-4);
    --kungalgame-blue-5: var(--kun-dark-blue-5);

    --kungalgame-trans-white-2: var(--kun-dark-trans-white-2);
    --kungalgame-trans-white-5: var(--kun-dark-trans-white-5);
    --kungalgame-trans-white-9: var(--kun-dark-trans-white-9);

    --kungalgame-trans-blue-0: var(--kun-dark-trans-blue-0);
    --kungalgame-trans-blue-1: var(--kun-dark-trans-blue-1);
    --kungalgame-trans-blue-2: var(--kun-dark-trans-blue-2);
  }
}

@media (prefers-color-scheme: light) {
  html[data-color-scheme='system'] {
    --kungalgame-font-color-3: var(--kun-font-color-3);

    --kungalgame-white: var(--kun-white);

    --kungalgame-blue-0: var(--kun-blue-0);
    --kungalgame-blue-1: var(--kun-blue-1);
    --kungalgame-blue-4: var(--kun-blue-4);
    --kungalgame-blue-5: var(--kun-blue-5);

    --kungalgame-trans-white-2: var(--kun-trans-white-2);
    --kungalgame-trans-white-5: var(--kun-trans-white-5);
    --kungalgame-trans-white-9: var(--kun-trans-white-9);

    --kungalgame-trans-blue-0: var(--kun-trans-blue-0);
    --kungalgame-trans-blue-1: var(--kun-trans-blue-1);
    --kungalgame-trans-blue-2: var(--kun-trans-blue-2);
  }
}
